#footer {
    background: var(--color-white);
    padding-block: 8rem;
}

#footer .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: start;
    text-align: left;
}

#footer .content img.logo {
    width: 20rem;
}

#footer .content .nav a {
    text-decoration: none;
}

#footer .content .nav a p {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: .5rem;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);

    transition: all 200ms ease-in-out;
    width: max-content;
    margin-top: 1rem;
    opacity: .8;
}

#footer .content .nav a p:hover {
    opacity: 1;
}

#footer .content .download {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer .content .download h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

footer .content .download img {
    width: 20rem;
}

@media (min-width: 1080px) {
    footer#footer .content {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        align-items: center;
    }

    footer#footer .content .download {
        flex-direction: row;
    }

    footer#footer .content .downloads {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}