* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montsserat', sans-serif;
}

:root {
    font-size: 62.5%;
    --nav-height: 7.2rem;

    --primary-color: #0092E8;
    --secondary-color: #003E6D;

    --gradient: linear-gradient(to bottom, #0285d1, #0193e8);
    --gradient-white: linear-gradient(to bottom, #ffffff, #cfedfe);
    --gradient2: linear-gradient(to bottom, #0a83c8, #089df3);



    --color-black: #00101b;
    --color-white: #E5F4FC;

    --bg-color: #ededed;
}

html {
    scroll-behavior: smooth;
  }
  
html,
body {
  width: 100%;
  height: 100%;

  scroll-behavior: smooth;
  background: #0085d1;
}
  
ul {
  list-style: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}
  
section {
  padding-block: 8rem;
}

::selection {
  color: #000000;
  background: #d8d8d8;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  /*====  MEDIAS RESPONSIVES ============================ */


  @media (min-width: 1200px) {
    .wrapper {
      width: min(120rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(130rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(120rem, 100%);
    }
  }

  @media (min-width: 2000px) {
    .wrapper {
      width: min(150rem, 100%);
    }
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--gradient);
  border-radius: 1rem;
}

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 4rem;
    background: var(--color-white);
    height: 100%;
}

body#bodyForm {
    background: var(--color-white);
}

.wrapper {
    background: var(--color-white);
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    z-index: 5;

}

main .image {
    display: flex;
    justify-content: start;
}

main img.logo {
    width: 5rem;
    margin-bottom: 1rem;
}

main h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    text-align: left;
    font-weight: 500;

    margin-bottom: 1rem;
}

main h2 span {
    font-weight: 600;
    color: var(--primary-color);
}

main p {
    color: var(--secondary-color);
    text-align: left;
    font-weight: 400;
    opacity: .9;
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

main p span {
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4rem;
}

.form .box-input {
    position: relative;
    width: 100%;
}

.form label {
    color: var(--secondary-color);
    font-weight: 600;
    position: absolute;
    top: -1rem;
    left: 1rem;

    background: var(--color-white);
    padding-inline: 1rem;
    padding-block: .3rem;

}

.form input {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    width: 100%;
    font-weight: 400;
    color: var(--secondary-color);
}

.form input::placeholder {
    color: var(--secondary-color);
    opacity: .5;
}

.form button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
}

@media (min-width: 1080px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 7rem;
    }

    body main {
        width: 50%;
    }

    body .form label {
        font-size: 1.6rem;
        top: -1.2rem;
    }

    body .form input {
        font-size: 1.8rem;
        padding-block: 1.7rem;
    }

    body .form button {
        font-size: 2rem;
        padding: 1.7rem;
    }

    body main .head {
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-template-areas: "a b";
        align-items: start;
        gap: 2rem;

        margin-bottom: 1rem;
    }

    body main .head h2 {
        font-size: 4rem;
    }

    body main .head p {
        font-size: 1.8rem;
    }

    body main .head .image {
        grid-area: b;
    }

    body main .head .image img {
        width: 7rem;
    }
}


