
/* HOME =================== */
#home {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    background: var(--gradient);
}

#home .content {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#home .content .text img {
    width: 15rem;
    margin-bottom: 1rem;
}

#home .content .text {
    margin-top: 10rem;
}

#home .content h1 {
    font-size: 3.5rem;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1rem;
}

#home .content p {
    font-size: 1.8rem;
    color: var(--color-white);
    font-weight: 300;

    margin-bottom: 2rem;
}

#home .content p span {
    font-weight: 500;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  #home .slide {
    overflow: hidden;
    padding: 2rem 0;
    display: flex;
    white-space: nowrap;

    position: absolute;
    left: 0;
    top: 36%;
  }
  
  #home .slide:before,
  #home .slide:after {
    content: '';
    position: absolute;
    top: 0;
    width: 25rem;
    height: 100%;
    z-index: 2;
  }

#home .slide:before {
    left: -10rem;
    background: linear-gradient(to right, #017fc9, transparent);
  }
  
  #home .slide:after {
    right: 0;
    background: linear-gradient(to right, #017fc9, transparent);
  }
  
  #home .slide:hover .slide-text {
    animation-play-state: paused;
  }
  
  #home .slide-text {
    animation: slide 40s infinite linear;
    display: flex;
  }
  
  #home .slide-text p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0 .5rem;
    background: var(--color-white);
    color: var(--secondary-color);
    position: relative;
  }
  
  #home .slide-text p:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-text);
    top: 40%;
    right: -2.1rem;
  }

#home .content .image {
    display: flex;
    justify-content: center;
}

#home .content .image img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45%;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
    width: 100%;
}

#home .image .cards {
    display: none;
}

#home .image .iconeApp {
    display: none;
}

@media (min-width: 1080px) {  
    header#home {
        height: 100vh;
        padding-block: initial;
    }
 
    header#home .content {
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: initial;
    }

    header#home .content .text {
        margin-top: initial;
        text-align: center;
    }
    
    header#home .content .slide {
        display: none;
    }

    header#home .content .text img.logo {
        width: 25rem;
    }

    header#home .content .text h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    header#home .content .text p {
        font-size: 2.4rem;
        margin-bottom: 4rem;
    }

    header#home .content .image {
        justify-content: center;
        position: relative;
        height: 100%;
    }

    header#home .wrapper .content .image img.principal {
        width: 60%;
        top: initial;
        bottom: -45rem;
    }

    header#home .image .cards {
        display: inherit;
    }

    header#home .image .cards p {
        background: var(--secondary-color);
        color: var(--color-white);
        font-weight: 400;
        padding: 2rem 3rem;
        border-radius: 2rem;
        font-size: 2rem;
    }

    header#home .content .image .iconeApp {
        display: inherit;
        position: absolute;
        width: 4rem;
        mask-image: none;
    }

    header#home .image .iconeApp.um {
       left: 77%;
       top: 5%;
    }

    header#home .image .iconeApp.dois {
        left: 23%;
        top: 23%;
    }

    header#home .image .cards .box-card {
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    header#home .image .cards .box-card.um {
        top: -10%;
        left: 85%;
        width: max-content;
    }

    header#home .image .cards .box-card.dois {
        top: 9%;
        left: -17%;
        width: max-content;
    }

    header#home .image .cards .card {
        border: 1px solid #7ad7ff;
        background-color: #c6eaff;
        box-shadow:  12px 12px 23px #007dc5f1,
             -12px -12px 23px #00aaffce;
        color: var(--secondary-color);
    }

    header#home .image .cards .card.um {
        left: 18%;
        top: 59%;
    }

    header#home .image .cards .card.dois {
        left: 19.5%;
        top: 65%;
    }

    header#home .image .cards .card.tres {
        left: 70%;
        top: 68%;
    }

    header#home .image .cards .card.quatro {
        left: 70%;
        top: 74%;
    }
}
   