body#pages {
    background-color: aliceblue;
}

nav#navigation {
    background: var(--primary-color);
}

.box {
    margin-top: 10rem;
    margin-bottom: 3rem;

    width: 100%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 3rem;
}

.box h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}

.box p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
}

.content {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.wrapper {
    height: 100%;
}


.content p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--secondary-color);
    font-weight: 400;

    text-align: left;
}

.content p span {
    font-weight: 600;
}

.content h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-weight: 700;

    text-align: left;
    margin-bottom: 3rem;
}

embed {
    width: 100%;
    height: 100%;
}

a.download button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;

    transition: all 200ms ease-in-out;
}

a.download button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

details {
    user-select: none;
    -webkit-user-select: none; /* Para compatibilidade com navegadores baseados em WebKit */
    -moz-user-select: none; /* Para compatibilidade com navegadores baseados em Mozilla */
    -ms-user-select: none; /* Para compatibilidade com navegadores baseados em Microsoft */
}

.details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: left;
    align-items: start;
    justify-content: center;

    padding-bottom: 5rem;
}

.details summary {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 600;

    background-color: #d9edfd;
    padding: 1rem;
    border-radius: 1rem;

    transition: all 200ms ease-in-out;
}

.details summary:hover {
    color: #005698;
    cursor: pointer;
}

.details p {
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--secondary-color);
    font-weight: 400;

    text-align: left;

    background-color: rgb(216, 224, 232);
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form label {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #005698;
}

form input,
form textarea {
    padding: 1rem;
    font-size: 1.6rem;
    background-color: #d9edfd;
    border: none;
    outline: none;
    width: 100%;
}

form .input {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

form .input p {
    font-size: 1.2rem;
}


form .input button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;

    transition: all 200ms ease-in-out;
}

form .input button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}