
#download {
    background: #C2E8FF;
}

#download h2 {
    font-size: 3.5rem;
    color: var(--secondary-color);
}

#download .cards {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download .cards .card {
    width: 70%;
}

#download .cards img {
    width: 100%;
}

@media (min-width: 1080px) {

    section#download {
        background-color: var(--color-white);
        position: relative;
    }

    section#download .wrapper {
        background-color: var(--primary-color);
        padding: 5rem;
        border-radius: 3rem;

        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -60%;

        box-shadow: 10px 10px 30px #0000001b;
    }

    section#download h2 {
        font-size: 4rem;
        color: var(--color-white);
        font-weight: 500;
    }

    section#download h2 span {
        font-weight: 600;
    }   

    section#download .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    section#download .cards {
        flex-direction: row;
        margin: initial;
    }

    section#download .content .cards {
        justify-content: end;
    }

    section#download .content .cards .card {
        width: 40%;
        padding: 1.1rem;
    }
}