#beneficios {
    background: var(--secondary-color);
    position: relative;
}

#beneficios header h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: var(--color-white);
    font-weight: 600;
}

#beneficios .cards .card svg {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    width: 5rem;
    height: 5rem;

    box-shadow:  9px 9px 18px #00355d,
    -9px -9px 18px #00477d;
}

#beneficios .cards .card p {
    color: var(--color-white);
    text-align: left;
    font-weight: 400;
    opacity: .8;
}

#beneficios .cards .card p span {
    font-weight: 600;
}

#beneficios .cards .card {
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-top: 2rem;
}

#beneficios img.principal {
    margin-top: 4rem;
    width: 90%;
    object-fit: cover;
    aspect-ratio: 9/7;
    border-radius: 2rem;

    border: 3px solid var(--color-white);
}

#beneficios img.iconeApp {
    position: absolute;
    bottom: 35%;
    right: 1rem;
    width: 5rem;
    border-radius: 30%;
    
    box-shadow: -20px 20px 30px #00000097;
}

@media (min-width: 1080px) {
    section#beneficios {
        padding-block: 0;
    }
    section#beneficios .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section#beneficios img.principal {
        aspect-ratio: initial;
        margin-top: initial;
        border: none;
        border-radius: 0;
        width: 100%;
        height: 100vh;

        filter: brightness(.8);
    }

    section#beneficios .content .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#beneficios .content header h2 {
        font-size: 4rem;
    }

    section#beneficios .content .cards svg {
        width: 6rem;
        height: 6rem;
    }

    section#beneficios .content .cards p {
        font-size: 1.8rem;
    }

    section#beneficios img.iconeApp {
        width: 8rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: none;
        z-index: 2;
    }
}